<% if classmod.module? %>
  <h1 class="classmodule"><span class="leader">Module</span> <%= classmod.full_name %></h1>
<% else %>
  <h1 class="classmodule"><span class="leader">Class</span> <%= classmod.full_name %></h1>
  <p class="superclass">
    <% if classmod.superclass.kind_of?(String) %>
      Parent: <%= classmod.superclass %>
    <% else %>
      Parent: <a href="<%= root_path + rdocize_classmod(classmod.superclass) %>"><%= classmod.superclass.full_name %></a>
    <% end %>
  </p>
<% end %>

<%= classmod.description %>

<% unless classmod.constants.empty? %>
  <h2>Constants</h2>
  <table class="constants">
    <tr><th>Name</th><th>Value</th><th>Description</th></tr>
    <% classmod.constants.each do |const| %>
      <% abbrev_value = const.value.chars.count > 20 ? const.value.chars.first(20).join + "..." : const.value %>
      <tr><td><%= const.name %></td><td style="font-family: monospace"><%= abbrev_value %></td><td><%= const.description %></td></tr>
    <% end %>
  </table>
<% end %>

<% methods_by_type = classmod.methods_by_type %>
<% ["class", "instance"].each do |type| %>                   <%# Yes, these are strings... %>
  <% [:public, :protected, :private].each do |visibility| %> <%# ...and these symbols. %>
    <%# Where there are no methods defined, there is no need for docs. %>
    <% next if methods_by_type[type].empty? %>
    <% next if methods_by_type[type][visibility].empty? %>

    <h2><%= "#{visibility.capitalize} #{type.capitalize} Methods" %></h2>

    <% methods_by_type[type][visibility].sort_by(&:name).each do |method| %>
      <div class="method <%= "#{visibility}-#{type}" %>" id="<%= method.aref %>">
        <div class="header">
          <%= method.arglists.gsub("\n", "<br/>") %>
        </div>
        <div class="description">
          <%= method.description %>

          <%# Source link and display %>
          <p class="show-source"><a href="#">[Show source]</a></p>
          <pre class="source" style="display: none">
<%= method.markup_code %>
          </pre>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
