<% if classmod.module? %>
  <h1 class="module"><span class="classmod-leader">Module</span> <%= classmod.full_name %></h1>
<% else %>
  <h1 class="class"><span class="classmod-leader">Class</span> <%= classmod.full_name %></h1>
  <p class="superclass">
    <% if classmod.superclass.kind_of?(String) %>
      Parent: <%= classmod.superclass %>
    <% else %>
      Parent: <%= classmod.formatter.link(classmod.superclass.full_name, classmod.superclass.full_name) %>
    <% end %>
  </p>
<% end %>

<%= classmod.description %>

<% unless classmod.constants.empty? %>
  <h2>Constants</h2>
  <table class="constants">
    <tr><th>Name</th><th>Value</th><th>Description</th></tr>
    <% classmod.constants.each do |const| %>
      <tr><td><%= const.name %></td><td style="font-family: monospace"><%= const.value.chars.count > 20 ? const.value.chars.first(20).join + "..." : const.value %></td><td><%= const.description %></td></tr>
    <% end %>
  </table>
<% end %>
